{% load static %}
{%include 'headerT.html'%}

<div class="container mt-5">
    <h2 class="text-center mb-4">Area de Progreso de los clientes</h2>
</div>
<center>
<div class="container mt-5">
    <a href="../Tipo_Ejercicio/"
        class='btn btn-success'>
        Gestionar Tipos de Ejercicios
    </a>
    <a href="../Grupo_Muscular/"
        class='btn btn-success'>
        Gestionar Grupos Musculares
    </a>
    <a href="../Ejercicios/"
        class='btn btn-success'>
        Gestionar Ejercicios
    </a>
</div>
</center>
{%include 'footerT.html'%}