{%include 'header.html'%}
    <div class="container mt-5">
        <div class="alert alert-success display-1">Clases</div>
        <table class="table table-striped">
          <tr><td>ID</td><td>{{clases.id}}</td></tr>
          <tr><td>Horario</td><td>{{clases.Horario}}</td></tr>
          <tr><td>Actividad</td><td>{{clases.Actividad}}</td></tr>
          <tr><td>Maquinas Disponibles</td><td>{{clases.Maquinas_Diponibles}}</td></tr>
        </table>
       <a href="../Clases_profesor/" class="btn btn-success">Volver</a>
    </div>
{%include 'footer.html'%}