{% load static %}
{%include 'header.html'%}

    <div class="container mt-5">
        <h2 class="text-center mb-4">Comentarios de la Comunidad</h2>

        <div class="list-group">
            <div class="list-group-item">
                <h5>Comentario Positivo</h5>
                <p>"Las máquinas están siempre en excelente estado, y los entrenadores son muy atentos."</p>
                <small>Comentario sobre: Máquinas y Entrenadores</small>
            </div>
            <div class="list-group-item">
                <h5>Comentario Negativo</h5>
                <p>"La limpieza de los vestuarios podría mejorar, especialmente en los días más concurridos."</p>
                <small>Comentario sobre: Limpieza</small>
            </div>
            <div class="list-group-item">
                <h5>Comentario Positivo</h5>
                <p>"El ambiente es muy acogedor, y la música durante las clases de spinning es genial."</p>
                <small>Comentario sobre: Clases</small>
            </div>
        </div>
    </div>

{%include 'footer.html'%}  